[Unit]
Description=Run tun at startup
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c '/sbin/lsmod | /bin/grep -q "^tun\s" || /sbin/insmod /lib/modules/tun.ko'
Restart=on-failure

[Install]
WantedBy=multi-user.target
