[Unit]
Description=Run docker at startup
After=pkg-ContainerManager-termd.service
Requires=pkg-ContainerManager-termd.service

[Service]
Type=oneshot
User=root
ExecStart=/bin/sh -c '/bin/cat /volume2/docker/boot | /bin/xargs -I {} /usr/local/bin/docker-compose -f {} up -d --remove-orphans'
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=pkg-ContainerManager-termd.service
